*{
    margin: 0;
    padding: 0;
    background-color: bisque;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    min-height: 50px;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 50%;
    cursor: pointer;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
}

#player-score,
#computer-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
}
#msg.winner {
    background-color: green;
}